---
layout: base.njk
lang: it
titolo_pagina: Destinazioni
attiva: 1
mostra_cta: true
permalink: destinazioni.html
alt_url: /en/destinations.html
descrizione: "Le destinazioni di Rotte d’incenso: Marocco, Costa Rica, Vietnam, Laos, Tailandia, Malesia e Borneo, fuori dai circuiti di massa."
---
{% include "pagina-destinazioni.njk" %}
